name: NodeJS CI/CD Pipeline
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node
        with:
          node-version: 20.x
          cache: npm
      - name: Install
        run: npm install
      - name: Test
        run: npm run test
